node_modules/
frontend/node_modules/

__pycache__/
*.py[cod]
*$py.class
.venv/
backend/venv/

.env.production.yaml
.env
.env.production
backend/.env
frontend/.env
gcp-sa-key.json
certifications/

*.db
*.sqlite3
backend/instance/
uploads/
.idea/
.vscode/
